.projects-container {
  margin-top: 200px;
  .section-title,
  .sub-section-title {
    font-weight: 700;
  }
  .project-container {
    margin: 50px 0 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .right-content {
      width: 170%;
      .project-img {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
      }
    }
    .left-content {
      text-align: center;
      width: 90%;
      .project-title {
        font-weight: 700;
        margin-bottom: 10px;
        width: 120%;
      }
      .project-dsc {
        font-weight: 500;
        color: var(--secondary-color);
        margin-bottom: 15px;
        width: 110%;
      }
      .tech-container,
      .links-container {
        display: flex;
        font-weight: bold;
      }
      .tech-container {
        justify-content: space-between;
        margin-left: 70px;
        margin-bottom: 20px;
        font-size: 18px;
        border: 2px solid rgb(151, 151, 255);
        border-radius: 20px;
        padding: 5px 10px;
      }
      .links-container {
        justify-content: space-between;
        margin-left: 60px;
        .link-project {
          display: flex;
          font-size: 22px;
        }
      }
    }
  }
}
/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    .section-title,
    .sub-section-title {
      text-align: center;
    }
    .project-container {
      display: block;
      .right-content {
        width: 100%;
        margin-bottom: 20px;
        .project-img {
          border-radius: 20px;
          // object-fit: cover;
          background-size: cover;
        }
      }
    }
  }
}
