.footer-container {
  background-color: black;
  padding: 25px 0;
  .footer-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-title {
      display: flex;
      gap: 10px;
      color: white;
      font-weight: bold;
    }
    .footer-icons-container {
      display: flex;
      align-items: center;
      gap: 25px;
      .footer-icon {
        color: white;
        cursor: pointer;
      }
    }
  }
}
